a { color: inherit; }

.outside {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
text-size-adjust: 100%;
font: inherit;
vertical-align: baseline;
font-family: Georgia;
}

header {
  margin: 0 auto;
  padding: 0 3%;
  background-color: lightyellow;
  position: relative;
  border-bottom: none;
}

.search-login {
  background-color: lightgrey;
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;
  height: 36px;
  position: relative;
  display: flex;
}

.sid-nav {
  left: 0;
}

.english {
  color: rgb(102, 102, 102);
  letter-spacing: 0.03em;
  margin-top: 2px;
}

.logo {
  background-color: lightblue;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  width: inherit;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.date-today {
  display: inline-block;
  /* display: flex-end; */
  align-self: flex-end;
}
.paper {
  display: inline-block;
  align-self: flex-end;
}


/* .date-paper {
  background-color: lightgrey;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 1rem;
  font-weight: 500;
  width: inherit;
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
} */

.masthead-mini-nav {
  border-top: 1px solid #ebebeb;
  padding: 0 60px;
  border-bottom: 1px solid #000;
  position: sticky;
}

.mini-nav {
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; */
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 4px;
}

.mini-nav-item {
  list-style: none;
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}
