
<div class="outside">
  <header class="css-ahe4g0 e1nre7571">
    <section class="search-login">
      <div class="side-nav">
        <button class="btn btn-primary"></button>
        <button class="btn btn-info"></button>
      </div>
      <div class="">
        <p>english, espanol,</p>
      </div>
      <div class="">
        <button class="btn btn-primary">Subscribe</button>
        <button class="btn btn-info">Login</button>
      </div>
    </section>
    <section class="logo">
      <!-- //Side-Navigation -->
      <img width="500" alt="NYT Logo" src="assets/img/New-York-Times-Logo.png">
    </section>
    <section class="date">
      <div>
        <p>{{today | date:'fullDate'}}</p>
      </div>
      <div class="paper">
        <a href="https://www.nytimes.com/section/todayspaper" class="css-2bwtzy">Today’s Paper</a>
      </div>
    </section>
  </header>
</div>

<!--
//Search
//Horizontal-Navigation -->
