a { color: inherit; }

.outside {
margin-top: 20px;
padding: 0;
border: 0;
font-size: 100%;
text-size-adjust: 100%;
font: inherit;
vertical-align: baseline;
font-family: Georgia;
}

header {
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  border-bottom: none;
}

.search-login {
  margin: 0 auto;
  width: auto;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;
  height: 40px;
  position: relative;
  display: flex;
}

.side-nav {
  width: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.glyphicon-menu-hamburger {
  font-size: 1.3em;
}
.glyphicon-search {
  font-size: 1.3em;
}

.english {
  color: rgb(102, 102, 102);
  letter-spacing: 0.03em;
  margin-top: 2px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.logo {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  width: inherit;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: -15px;
  text-align: center;
}

.date-today {
  display: inline-flex;
  align-items: baseline;
}
.paper {
  display: inline-block;
}

.masthead-mini-nav {
  border-top: 1px solid #ebebeb;
  padding: 0 60px;
  border-bottom: 1px solid #000;
  position: sticky;
  text-align: center;
}

.mini-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 4px;
}

.mini-nav-item {
  list-style: none;
  display: inline-block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 1rem;
  font-weight: 500;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 20px;
}
