<div class="outside">
  <header>
    <section class="search-login">
      <div class="inside-one">
        <!-- <div class="item">item1</div>
        <div class="item">item2</div>
        <div class="item">item3</div>

         -->
        <div class="side-nav">
          <button class="btn"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
          <button class="btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>

        <div class="english">
          <button class="btn"><b>ENGLISH</b></button>
          <button class="btn">ESPANOL</button>
          <button class="btn">中文</button>
        </div>
        <div class="login">
          <!-- <p *ngIf="isLoggedIn">
            <a (click)="subscribe()"><button class="btn-login">SUBSCRIBE</button></a>
          </p> -->
          <p *ngIf="isLoggedIn">
            <a>{{userName}}</a>
            <a (click)="logout()"><button class="btn-login">LOGOUT</button></a>
          </p>
          <p *ngIf ="!isLoggedIn">
            <a (click)="subscribe()"><button class="btn-login">SUBSCRIBE</button></a>
            <a (click)="login()"><button class="btn-login">LOGIN</button></a>
          </p>
        </div>
      </div>
    </section>
    <section class="logo">
      <div class="image">
        <img width="500"  alt="NYT Logo" src="assets/img/New-York-Times-Logo.png">
      </div>
      <div class="logo-grid">
        <div class="date-today">
          <p>{{today | date:'fullDate'}}</p>
        </div>
        <div class="empty"></div>
        <div class="paper">
          <a href="https://www.nytimes.com/section/todayspaper">Today’s Paper</a>
        </div>
      </div>
    </section>
    <div data-testid="masthead-mini-nav" class="masthead-mini-nav">
      <ul data-testid="mini-nav" class="css-1vxc2sl">
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/world/index.html">World</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/national/index.html">U.S.</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/politics/index.html">Politics</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/nyregion/index.html">N.Y.</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/business/index.html">Business</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/opinion/index.html">Opinion</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/technology/index.html">Tech</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/science">Science</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/health/index.html">Health</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/sports/index.html">Sports</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/arts/index.html">Arts</a></li><li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/books">Books</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/style">Style</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/dining/index.html">Food</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/travel">Travel</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/magazine/index.html">Magazine</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/t-magazine">T Magazine</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/realestate">Real Estate</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/video">Video</a></li>
      </ul>
    </div>
  </header>
</div>
