<div class="outside">
  <header>
    <section class="search-login">
      <div class="logo-box">
        <div class="side-nav">
          <button class="btn"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
          <button class="btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
      </div>
      <div class="english">
        <button class="btn">ENGLISH</button>
        <button class="btn">ESPANOL</button>
        <button class="btn">中文</button>
      </div>
      <div class="login">
        <button class="btn">SUBSCRIBE</button>
        <button class="btn">LOGIN</button>
        <!-- <svg class="css-10m9xeu" viewBox="0 0 16 16" fill="#333"><path d="M8,10c-2.5,0-7,1.1-7,3.5V16h14v-2.5C15,11.1,10.5,10,8,10z"></path>
        <circle cx="8" cy="4" r="4"></circle></svg> -->
      </div>
    </section>
    <section class="logo">
      <div class="date-today">
        <p>{{today | date:'fullDate'}}</p>
      </div>
        <img width="500"  alt="NYT Logo" src="assets/img/New-York-Times-Logo.png">
      <div class="paper">
        <a href="https://www.nytimes.com/section/todayspaper" class="css-2bwtzy">Today’s Paper</a>
      </div>
    </section>
    <div data-testid="masthead-mini-nav" class="masthead-mini-nav">
      <ul data-testid="mini-nav" class="css-1vxc2sl">
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/world/index.html">World</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/national/index.html">U.S.</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/politics/index.html">Politics</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/nyregion/index.html">N.Y.</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/business/index.html">Business</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/opinion/index.html">Opinion</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/technology/index.html">Tech</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/science">Science</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/health/index.html">Health</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/sports/index.html">Sports</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/arts/index.html">Arts</a></li><li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/books">Books</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/style">Style</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/dining/index.html">Food</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/travel">Travel</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/pages/magazine/index.html">Magazine</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/t-magazine">T Magazine</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/section/realestate">Real Estate</a></li>
        <li data-testid="mini-nav-item" class="mini-nav-item"><a class="css-1wjnrbv" href="https://www.nytimes.com/video">Video</a></li>
      </ul>
    </div>
</header>
</div>
