<p>If you would like to change to city weather data which will update the navigation you may do this here!</p>
<p>Weather API  Implementation</p>
<form>
  <div class="form-group">
    <label for="city">City</label>
    <input type=text #city value="Portland">
  </div>
  <button (click)="getHumidity(city.value)">Get humidity</button>
</form>

<p>{{infos.name}}</p>
<p>{{infos.main.humidity}}</p>
<p>{{infos.weather[0].main}}</p>
<p>{{infos.weather[0].description}}</p>
<p>{{infos.weather[0].icon}}</p>
