<div class="briefing">
  <main>
    <div class="grid-main">
      <!-- <div class="inside-one"> -->
        <div class="info">
          <section class="grid-one">
            <div class="info-item">
              <div class="info-image">
                <img  class="image-info" src="assets/img/info-1.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>Another Weekend</b></p>
                <p>Another weekend out of my life. I'm either too shy or humble</p>
              </div>
            </div>
            <div class="info-item">
              <div class="info-image">
                <img class="image-info" src="assets/img/info-2.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>Another Weekend</b></p>
                <p>Another weekend out of my life. Is gonna get me into trouble</p>
              </div>
            </div>
            <div class="info-item">
              <div class="info-image">
                <img  class="image-info" src="assets/img/info-3.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>Another Weekend</b></p>
                <p>Feel a body, warm and close behind me. I turn around, but you are not there.</p>
              </div>
            </div>
          </section>
          <section class="grid-two">
            <div class="item">Stock</div>
            <div class="item">Weather</div>
          </section>
        </div>


      <!-- </div> -->
    </div>
    <div class="border-line"></div>
    <div class="border-line"></div>
    <div class="grid">
      <div class="wrapper-article">
        <div class="box box1">Box 1 : {{item}}</div>
        <div class="box box2">Box 2 : {{item}}</div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
    <div class="grid">
      <div class="wrapper-article-two">
        <div class="box box1">Box 1: {{item}}</div>
        <div class="box box2">Box 2: {{item}}</div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
    <div class="grid">
      <div class="wrapper-article-three">
        <div class="box box1">Box 1: {{item}}</div>
        <div class="box box2">Box 2: {{item}}</div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
  </main>
</div>
