<div class="briefing">
  <main>
    <div class="grid-main">
      <!-- <div class="inside-one"> -->
        <div class="info">
          <section class="grid-one">
            <div class="info-item">
              <div class="info-image">
                <img  class="image-info" src="assets/img/info-1.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>{{title}}</b></p>
                <p>{{text}}</p>
              </div>
            </div>
            <div class="info-item">
              <div class="info-image">
                <img class="image-info" src="assets/img/info-2.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>{{title}}</b></p>
                <p>{{text}}</p>
              </div>
            </div>
            <div class="info-item">
              <div class="info-image">
                <img  class="image-info" src="assets/img/info-3.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>{{title}}</b></p>
                <p>{{text}}</p>
              </div>
            </div>
          </section>
          <section class="grid-two">
            <div class="item">Stock</div>
            <div class="item">Weather
              <p>image</p>
              <p>city</p>
              <p>temperature</p>
            </div>
          </section>
        </div>


      <!-- </div> -->
    </div>
    <div class="border-line"></div>
    <div class="border-line"></div>
    <div class="grid">
      <div class="wrapper-article">
        <div class="box box1">Box 1 : {{item}}</div>
        <div class="box box2">Box 2 :
          <div class="article-image">
            <img class="image-article" src="assets/img/Political-comedy.jpg" alt="img">
          </div>
          {{item}}
        </div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
    <div class="grid">
      <div class="wrapper-article-two">
        <div class="box box1">Box 1: {{item}}</div>
        <div class="box box2">Box 2: {{item}}</div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
    <div class="grid">
      <div class="wrapper-article-three">
        <div class="box box1">Box 1: {{item}}</div>
        <div class="box box2">Box 2: {{item}}</div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
    <div class="grid">
      <div class="wrapper-article">
        <div class="box box1">Box 1 : {{item}}</div>
        <div class="box box2">Box 2 : {{title}}
          <div class="article-image">
            <img class="image-article" src="assets/img/Political-comedy.jpg" alt="img">
          </div>
          {{item}}
        </div>
      </div>
      <div class="wrapper">
        <div class="box box3">Box 3: {{item}}</div>
        <div class="box box4">Box 4: {{item}}</div>
      </div>
    </div>
  </main>
</div>
