<div class="briefing">
  <main>
    <div class="grid-main">
      <!-- <div class="inside-one"> -->
        <div class="info">
          <section class="grid-one">
            <div class="info-item">
              <div class="info-image">
                <img  class="image-info" src="assets/img/info-1.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>Another Weekend</b></p>
                <p>Another weekend out of my life. I'm either too shy or humble</p>
              </div>
            </div>
            <div class="info-item">
              <div class="info-image">
                <img class="image-info" src="assets/img/info-2.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>Another Weekend</b></p>
                <p>Another weekend out of my life. Is gonna get me into trouble</p>
              </div>
            </div>
            <div class="info-item">
              <div class="info-image">
                <img  class="image-info" src="assets/img/info-3.png" alt="img">
              </div>
              <div class="info-article">
                <p><b>Another Weekend</b></p>
                <p>Feel a body, warm and close behind me. I turn around, but you are not there.</p>
              </div>
            </div>
          </section>
          <section class="grid-two">
            <div class="item">Stock</div>
            <div class="item">Weather</div>
          </section>
        </div>


      <!-- </div> -->
    </div>
    <div class="border-line"></div>
    <div class="border-line"></div>
    <div class="grid-main-x">
      <section class="content">
        <div class="inside-one">
          <div class="item">article2</div>
          <div class="item">article2</div>
          <div class="item">article3</div>
          <div class="item">article4</div>
          <div class="item">article5</div>
          <div class="item">article6</div>
          <div class="item">article7</div>
          <div class="item">article8</div>
        </div>
      </section>
      <!-- <section class="content">

        <div class="inside-two">
          <div class="item">side1</div>
          <div class="item">side2</div>
          <div class="item">side3</div>
          <div class="item">side4</div>
          <div class="item">side5</div>
          <div class="item">side6</div>
          <div class="item">side7</div>
          <div class="item">side8</div>
        </div>
      </section> -->
    </div>
  </main>
</div>
