main {
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  border-bottom: none;
  margin-top: 0px;
}

.briefing {
  margin-bottom: 18px;
  position: relative;
  margin-top: 18px;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Georgia;
}

.info {
  margin-top: 0px;
  display: grid;
  width: inherit;
  display: grid;
  grid-template-columns:3fr 1fr;
  grid-template-rows: max-content auto auto;
  grid-gap: 0;
}

.border-line {
  border-top: 1px solid #ebebeb;
  padding: 0 60px;
  border-bottom: 1px solid #000;
}

.grid-main {
  display: grid;
  width: inherit;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: max-content auto auto;
  grid-gap: 0;
}

.grid-one {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.2%);
  grid-template-rows: repeat(auto-fill, 80px);
  grid-gap:1px;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(auto-fill, 49.8%);
  grid-template-rows: repeat(auto-fill, 80px);
  grid-gap:1px;
}

.info-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fill, 80px);
  grid-gap:1px;
  /* background-color: lightblue; */
}

.info-image {
  padding: 10px;
  border-left: 1px solid #ebebeb;
  margin-bottom: 10px;
  /* background-color: lightgrey; */
}

.image-info {
  width: 70px;
  height: 70px;
  margin-top: -10px;
}
.info-article {
  border-left: 1px solid #ebebeb;
  margin-bottom: 10px;
  /* background-color: lightgrey; */
}
/* .item-one {
  padding: 10px;
  border-left: 1px solid #ebebeb;
  margin-bottom: 10px;
} */

.item {
  padding: 10px;
  border-left: 1px solid #ebebeb;
  margin-bottom: 10px;
}
/*
.item:nth-of-type(1n) {
  grid-column: span 2;
}

.item:nth-of-type(4n) {
  grid-row: span 2;
} */
.grid-main-x {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content auto auto;
  grid-gap: 0;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
}

.main-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fill, 80px);
  grid-gap:1px;
  /* background-color: lightblue; */
}
.main-image {
  padding: 10px;
  border-left: 1px solid #ebebeb;
  margin-bottom: 10px;
  float: right;
}

.main-article {
  border-left: 1px solid #ebebeb;
  margin-bottom: 10px;
  /* background-color: lightgrey; */
}

.image-main {
  width: 370px;
  height: 270px;
}

@media (aspect-ratio: 1/1) {
  .item {
    color: red;
  }
}


@media (min-aspect-ratio: 8/5) {
  .item {
      border: 2px solid lightblue;
  }
}


@media (max-aspect-ratio: 2/1) {
  .item , .info-item , .main-item {
    border: 2px solid grey;
  }
}

/*
@media (aspect-ratio: 1/1) {
  .grid-one {
    color: red;
  }
}


@media (min-aspect-ratio: 8/5) {
  .grid-one {
    background: yellow;
  }
}


@media (max-aspect-ratio: 2/1) {
  .grid-one {
    border: 2px solid blue;
  }
} */
