main {
  margin: 0 auto;
  padding: 0 3%;
  position: relative;
  border-bottom: none;
  margin-top: 0px;
}

.briefing {
  margin-bottom: 18px;
  position: relative;
  margin-top: 18px;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Georgia;
}

.info {
  margin-top: 0px;
  display: grid;
  width: inherit;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content auto auto;
  grid-gap: 0;
}

.border-line {
  border-top: 1px solid #ebebeb;
  padding: 0 60px;
  border-bottom: 1px solid #000;
}
/*
:root {
    --wrapper: 100vw;
    --gutter: 10px;

    --rh: calc((var(--wrapper) - (3 * var(--gutter))) / 4);
}

.grid {
    max-width: var(--wrapper);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: minmax(var(--rh), auto);
    grid-gap: var(--gutter);
}

.grid__item {
    background-color: hotPink;
    padding: 20px;
}

.grid__item--lg {
    grid-column: span 2;
    grid-row: span 2;
    background-color: rebeccaPurple;
}

.grid__item--right {
    grid-column-end: 5;
}

.grid__item--db {
    grid-column: span 2;
    background-color: goldenRod;
} */

.grid-one {
  display: grid;
  grid-template-columns: repeat(auto-fill, 33.2%);
  grid-template-rows: repeat(auto-fill, 80px);
  grid-gap:1px;
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(auto-fill, 49.8%);
  grid-template-rows: repeat(auto-fill, 80px);
  grid-gap:1px;
}

.grid-main {
  display: grid;
  width: inherit;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: max-content auto auto;
  grid-gap: 0;
}

.inside-one {
  background-color: lightyellow;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  text-size-adjust: 100%;
  font: inherit;
  vertical-align: baseline;
}

.insids-two{
  transform: translateY(-1px);
  column-count: 2;
  column-gap: 29px;
  position: relative;
}


@media (aspect-ratio: 1/1) {
  .item {
    color: red;
  }
}


@media (min-aspect-ratio: 8/5) {
  .item {
    background: lightyellow;
  }
}


@media (max-aspect-ratio: 2/1) {
  .item {
    border: 2px solid blue;
  }
}

/*
@media (aspect-ratio: 1/1) {
  .grid-one {
    color: red;
  }
}


@media (min-aspect-ratio: 8/5) {
  .grid-one {
    background: yellow;
  }
}


@media (max-aspect-ratio: 2/1) {
  .grid-one {
    border: 2px solid blue;
  }
} */
