<p>Weather API  Implementation</p>
<!-- <h1>Get Weather Conditions From Anywhere!</h1>
     <label for="location">Enter a location:</label>
     <input id="location" type="text">
     <button class="btn-success" id="weatherLocation">Get Current Humidity!</button>
     <div class="errors"></div>
     <div class="showHumidity">{{info.humidity}}</div>
     <div class="showTemp"></div>
 -->


<form>
  <div class="form-group">
    <label for="city">City</label>
    <input type=text #city>
  </div>
  <button (click)="getHumidity(city.value)">Get humidity</button>
</form>

<!-- <ul>

  <li *ngFor="let info of infos" ></li>
</ul> -->

<p>{{infos.name}}</p>
<p>{{infos.main.humidity}}</p>
